.wrapperDescription{
    background: #F3F4F6;
    width: 100%;
    padding: 25px;
    &--kard{
        width: 100%;
        padding: 25px;
        background: white;
        display: flex;
        flex-direction: column;
        width: 100%;
        h2{
            font-size: 18px;
            font-weight: 700;
            line-height: 23px;
            margin-bottom: 24px;

        }
        &-items{
            width: 50%;
            margin-bottom: 14px;
            p{
                font-size: 14px;
                font-weight: 400;
                line-height: 23px;
            }
            &-table{
                display: flex;
                flex-direction: column;

                &-index{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 29px;
                    border-bottom: 1px solid #ECECED;
                    h3{
                        width: 70%;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 20px;
                        color: #5C5C5D;
                        &:hover{
                            text-decoration: underline;
                            text-decoration-color: #a6a6a8;
                        }

                    }
                    &-result{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 30%;
                        h4{
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 20px;
                            color: #000;
                            &:hover{
                                text-decoration: underline;
                                text-decoration-color: #a6a6a8;
                            }

                        }
                        input{
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
            }
            &-btn{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px 0px;

                button{
                    border: 1px solid #434e55;
                    padding: 2px 7px;
                    font-weight: 700;
                    font-size: 13px;
                    line-height: 15px;
                    border-radius: 3px;
                }
            }
            &-bottom{
                display: flex;
                flex-direction: column;
                gap: 10px;

                p{
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 23px;
                    color: #337AB7;
                    &:hover{
                        text-decoration: underline;
                        text-decoration-color: #a6a6a8;
                    }

                }
                &-pdf{
                    display: flex;
                    align-items: center;
                    gap: 12px;

                    span{
                        background: red;
                        width: 20px;
                        height: 15px;
                        font-size: 10px;
                        color: #F3F4F6;
                        margin-left: -28px;
                    }
                }
            }
        }
    }
}