$A415: #00415a;
$D38: #1c2d38;
$FA7: #8b9fa7;
$D9B: #b4babd9b;
$A222: #222222;

.footer {
  &--wrapper {
    gap: 157px;
  }
}
.main-wrapper {
  background-color: $A415;
  color: #fff;
  padding: 48px 40px 30px;
}

.wrapper {
  margin-top: 15px;
  justify-content: space-between;
  &--left {
    &-title {
      font-weight: 400;
      font-size: 11px;
      line-height: 14px;
      color: #fff;
      margin-bottom: 17px;
    }
    &--icons {
      gap: 16px;
    }
  }
  &--right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &-title {
      font-weight: 400;
      font-size: 11px;
      line-height: 14px;
      color: #fff;
      margin-bottom: 13px;
    }
    &--icons {
      gap: 16px;
      width: 235px;
    }
  }
}
