$D38: #1c2d38;
$FA7: #8b9fa7;
$D9B: #b4babd9b;
.top {
  display: flex;
  justify-content: space-between;
  min-height: 22px;
  display: flex;
  align-items: center;
  &--list {
    display: flex;
    align-items: center;
    gap: 32px;
    &-item {
      color: $D38;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      border-bottom: 1px solid transparent;
      transition: all 0.1s ease-in-out;
      &:hover {
        border-bottom: 1px solid $D9B;
      }

      &-btn {
        color: $D38;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        padding: 1px 14px;
        border: 1px solid $FA7;
        border-radius: 10px;
        transition: all 0.1s ease-in-out;
        &:hover {
          border: 1px solid $D38;
        }
      }
    }
  }
  &--calc {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    &:hover {
      .top--calc-text {
        border-bottom: 1px solid $D9B;
      }
    }
    &-text {
      color: $D38;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      height: 20px;
      border-bottom: 1px solid transparent;
      transition: all 0.1s ease-in-out;
    }
  }
}
