.consumables-product-list {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-top: 50px;
  border-top: 1px solid #ECECED;
  padding-top: 30px;

  .carousel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .title {
      font-size: 24px; 
      font-weight: bold;
      color: #000; 
      margin-bottom: 15px;
      padding-left: 10px; 
    }

    .carousel-controls {
      display: flex;

      .carousel-button {
        padding: 10px;
        background-color: #fff; 
        color: #000; 
        border: none;
        cursor: pointer;
        font-size: 20px;

        &:disabled {
          background-color: #fff; 
          color:#ccc;
          cursor: not-allowed;
        }

      }
    }
  }
}

.consumables-product-container {
  display: flex;
  justify-content: space-between;
  overflow: hidden; // Hide overflowing content
}

.consumables-product-card {
  padding: 10px;
  width: 370px; // Updated width from previous example
  display: flex;
  flex-direction: column;
  background-color: #fff;



  .product-image {
    max-width: 100%;
    height: 100px; 
    object-fit: contain;
    margin-bottom: 10px;
  }

  .product-info {
    display: flex;
    flex-direction: column;

    .vendor {
      font-size: 11px;
      font-weight: 700;
      color: #5c5c5d; 
      margin-bottom: 5px;
    }

    .name {
      font-weight: 400; // Adjusted font weight to 400
      font-size: 14px;
      margin-bottom: 5px;
      color: #337ab7; // Product name color
    }

    .price {
      font-size: 16px; 
      color: #000; 
      font-weight: bold;
      margin-top: auto; 
    }
  }
}
